.login-button{
  margin-left: 10px;
  position: absolute;
  align-items: center;
  background-clip: padding-box;
  background-color: #FF8B00;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.App {
  height: 100vh;
  display: flex;
  color: white;
}

.appAside {
  width: 50%;
  background-color: #fee8b0;
}

.appForm {
  width: 50%;
  background-color: #ffffff;
  padding: 25px 40px;
  overflow: auto;
}
.form{
  margin-top: 80px;
  margin-left: 70px;
  padding: 220px;
  background-color: #fee8b0;
  border-radius: 16px;


}
.chaomung{
  
  text-align: center;
  color: black;
}
.wlogo{
  width: 177px;
  height: 189px;
  margin-top: 400px;
  margin-left: 350px;
}
.keodai{
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
 .center {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }


